DATABASE_URL=database_url


ALLOWED_CORS_ORIGIN=comma_separated_list_of_allow_origins
CLIENT_URL=your_client_url

SECRET_KEY=cfCaO9m5PgvyvjzyfYorvawbshSnC4QgkahdssV8GQ4
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
